<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Wizard ASM Battle</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
            >
        <link rel="stylesheet" href="/frontend/style.css">
        <script src="https://kit.fontawesome.com/b0903595af.js" crossorigin="anonymous"></script>
        <!-- <script src="script.js" type="module"></script> -->
    </head>
    <body>
    <div id="app" class="m-4">
        <span class="has-text-primary">
            <b>Logged In: </b>
        </span>
        <span class="tag is-success">
            <b>{{ whoami }}</b>
        </span>
        <br>
        <br>
        <div class="buttons">
            <a href="/" class="button is-warning">
                <span class="icon">
                    <i class="fa-solid fa-arrow-left"></i> 
                </span>
                <span>
                    Go Back
                </span>
            </a>
            <button @click="getBugReports" class="button is-primary">
                <span class="icon">
                    <i class="fa-solid fa-download"></i>
                </span>
                <span>
                    Load Reports
                </span>
            </button>
        </div>
        <br>
        <p v-show="bugreports.length">Reports: {{ bugreports.length }}</p>
        <div class="box has-text-white" v-for="report in bugreports">
            <span class="icon">
                <i class="fa-solid fa-message"></i>
            </span>
            <span>
                Message: {{ report.Message }}<br>
            </span>
            <a :href="`https://mail.google.com/mail/?view=cm&fs=1&to=${report.Email}&su=Bug%20Report%20Follow%20Up&body=`" target="_blank">
                    <span v-if="report.Email" class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                </a>
                <span v-if="report.Email">
                    Email: {{ report.Email }}
                </span>
            <br>
            <br>
            <button @click="deleteBugReport(report.Mid)" class="button is-danger">
                <span class="icon">
                    <i class="fa-solid fa-trash"></i>
                </span>
                <!-- <span>{{ report.Mid }}</span> -->
            </button>
        </div>
    </div>
        <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.js"></script>
        <script src="/frontend/vueapp.js"></script>
    </body>
</html>

