<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Wizard ASM Battle</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
            >
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/b0903595af.js" crossorigin="anonymous"></script>
        <!-- <script src="script.js" type="module"></script> -->
    </head>
    <body>
    <div id="app">

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <!-- navbar items, navbar burger... -->
                <a class="navbar-item" href="https://wizard.nothingdangerous.live">
                    <img src="./photos/crystal-ball-svgrepo-com.svg" alt="My SVG">
                </a>
                <a role="button" @click="toggleHamburger" :class="{'is-active': hamburgerEnabled}" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div :class="{'is-active': hamburgerEnabled}" class="navbar-menu">
                <div class="navbar-start">
                    <a @click="showTutorial" class="navbar-item">Home</a>
                    <a @click="showBattle" class="navbar-item">Battle</a>
                    <a @click="showReplays" class="navbar-item">Replays</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a @click="showLogin" class="button is-small is-primary">Sign In</a>
                    </div>
                    <div class="navbar-item">
                        <a @click="testSession" class="button is-small is-primary">Test Session</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="modal" :class="{'is-active': showLoginModal}">
            <div class="modal-background" @click="showLoginModal = false"></div>
            <div class="modal-content">
                <!-- Any other Bulma elements you want -->

                <div class="field">
                    <!-- <label class="label">Username</label> -->
                    <div class="control has-icons-left has-icons-right">
                    <input v-model="usernameInput" @blur="verify" class="input" type="email" placeholder="Username">
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    </div>
                    <p class="help is-danger">{{ errors.username }}</p>
                </div>

                <div class="field">
                    <!-- <label class="label">Password</label> -->
                    <div class="control has-icons-left">
                    <input v-model="passwordInput" @input="verify" class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    </div>
                    <p class="help is-danger">{{ errors.passwordlength }}</p>
                </div>

                <div class="field" v-if="showVerifyPassword">
                    <div class="control has-icons-left">
                    <input v-model="passwordConfirmationInput" @input="verify" class="input" type="password" placeholder="Verify Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    </div>
                    <p class="help is-danger">{{ errors.passwordmatch }}</p>
                </div>

                <!-- <p>Input is: {{ usernameInput }}</p> -->
                <!-- <p>password is {{ passwordInput }}</p> -->
                <!-- <p>password conf is {{ passwordConfirmationInput }}</p> -->

                <div class="field">
                    <p class="control">
                    <button @click="login" v-if="showLoginButton" class="button is-success">
                        Login
                    </button>
                    <button @click="register" v-if="showRegisterButton" class="button is-info ml-1" :disabled="disabledButton">
                        Register
                    </button>
                    </p>
                </div>
                <p v-if="showSignUpText" class="control">Don't have an account? <a @click="signUp">Sign Up</a></p>
                <p v-if="showLoginText" class="control">Already have an account? <a @click="loginLayout">Login</a></p>
            </div>
            <button class="modal-close is-large" aria-label="close" @click="showLoginModal = false; showVerifyPassword = false;"></button>
        </div>

        <div v-if="showTutorialPage" class="tutorial">
            <p>Welcome to Wizard-asm</p>

        </div>

        <div v-if="showBattlePage" class="battlepage">
            <div class="block">
                <h2>Welcome To The Battle Arena</h2>
                <p>{{ greeting }}</p>
                <textarea class="textarea"></textarea>
                <button @click="submitProgram" class="button" id="sbutton" >Submit Program</button>
            </div>

        </div>

        <div v-if="showReplaysPage" class="replayspage">
            <h1>REPLAYS</h1>
            <button @click="runGame" class="button" id="gamebutton">Run Game</button>
            <button @click="getReplay" class="button">Get Replay</button>
            <!-- <li v-for="obj in currentReplay.Frames"> -->
            <!--     <p v-for="arr in obj.ArenaFrame"> -->
            <!--         {{ arr }} -->
            <!--     </p> -->

            <!-- </li> -->
            <button @click="startReplay" class="button">Start Replay</button>
            <!-- <div v-for="frame in currentReplay.Frames" :key="frame.Player"> -->
            <!--     <p v-for="row in frame.ArenaFrame" :key="row"> -->
            <!--         {{ row }} -->
            <!--     </p> -->
            <!--     <div>Player: {{ frame.Player }} | #Actions: {{ frame.Count }}</div> -->
            <!--     <div>Action: {{ frame.Action }} {{ frame.Args }}</div> -->
            <!--     <div>Mana: {{ frame.Mana }}</div> -->
            <!--     <br> -->
            <!-- </div> -->

            <!-- <p>{{frameToDisplay}}</p> -->
            <div v-for="row in frameToDisplay.ArenaFrame">
                {{ row }}
            </div>
            <div v-if="frameToDisplay" id="info">
                <div>Player: {{ frameToDisplay.Player }} | #Actions: {{ frameToDisplay.Count }}</div>
                <div>Action: {{ frameToDisplay.Action }} {{ frameToDisplay.Args }}</div>
                <div>Mana: {{ frameToDisplay.Mana }}</div>
            </div>
            <br>

            <canvas v-show="true" id="myCanvas" width="610" height="610" style="border:1px solid black;">
            </canvas>
        </div>






    </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="vueapp.js"></script>
    </body>
</html>

