<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Wizard ASM Battle</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
            >
        <link rel="stylesheet" href="/frontend/style.css">
        <script src="https://kit.fontawesome.com/b0903595af.js" crossorigin="anonymous"></script>
        <!-- <script src="script.js" type="module"></script> -->
    </head>
    <body>
    <div id="app">

        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <!-- navbar items, navbar burger... -->
                <a class="navbar-item" href="https://wizard.nothingdangerous.live">
                    <img src="/frontend/photos/crystal-ball-svgrepo-com.svg" alt="My SVG">
                </a>
                <a role="button" @click="toggleHamburger" :class="{'is-active': hamburgerEnabled}" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div :class="{'is-active': hamburgerEnabled}" class="navbar-menu">
                <div class="navbar-start">
                    <a @click="showLanding" class="navbar-item">Home</a>
                    <a @click="showTutorial" class="navbar-item">Tutorial</a>
                    <a v-show="whoami !== ''" @click="showBattle" class="navbar-item">Create</a>
                    <a v-show="whoami !== ''" @click="showReplays" class="navbar-item">Replays</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <button>
                                        <p><u><b> {{ whoami }} </b></u></p>
                                    </button>
                                </div>
                                <div class="dropdown-menu">
                                    <div class="dropdown-content">
                                        <div class="dropdown-item">
                                            <p>
                                                <b>Score: {{ score }}</b>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="dropdown-content">
                                        <div class="dropdown-item">
                                            <button class="button is-primary" @click="getScoreboard(); showScoreboard = true; ">
                                                <span class="icon">
                                                    <i class="fa-solid fa-ranking-star"></i>
                                                </span>
                                                <span>
                                                    Scoreboard
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                    <!-- <div class="navbar-item"> -->
                    <!--     <a @click="testSession" class="button is-small is-primary">Test Session</a> -->
                    <!-- </div> -->
                    <!-- <div class="navbar-item"> -->
                    <!--     <a @click="getSessionInfo" class="button is-small is-primary">Get Session</a> -->
                    <!-- </div> -->
                    <div class="navbar-item">
                        <a @click="activateReportModal" class="button is-small is-warning is-light is-outlined">Bug Report</a>
                        <a v-if="whoami.length === 0" @click="showLogin" class="button is-small is-primary">Login</a>
                    </div>
                    <div class="navbar-item">
                        <a v-if="whoami.length !== 0" @click="logout" class="button is-small is-danger">Logout</a>
                    </div>
                </div>
            </div>
        </nav>

        <!-- SCOREBOARD -->
        <div class="modal" :class="{ 'is-active': showScoreboard }">
            <div class="modal-background" @click="showScoreboard = false"></div>
            <div class="modal-content">
                <div class="box">
                    <h1 class="title is-1">Scoreboard</h1>
                    <div class="field">
                        <div v-for="(entry, i) in scoreboardEntries" :key="i" class="box">
                            <div class="columns">
                                <div class="column">
                                    {{ i+1 }} {{ entry.Username }}
                                </div>
                                <div class="column has-text-right">
                                    Score: {{ entry.Score }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close" @click="showScoreboard = false"></button>
        </div>
        <!-- END SCOREBOARD -->

        <div class="modal" :class="{'is-active': showLoginModal}">
            <div class="modal-background" @click="showLoginModal = false; loginLayout()"></div>
            <div class="modal-content">
                <!-- Any other Bulma elements you want -->

                <div class="field">
                    <!-- <label class="label">Username</label> -->
                    <div class="control has-icons-left has-icons-right">
                    <input v-model="usernameInput" @blur="verify" class="input" type="username" placeholder="Username"
                        @keyup.enter="!showVerifyPassword ? login(): null">
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    </div>
                    <p class="help is-danger">{{ errors.username }}</p>
                </div>

                <div class="field">
                    <!-- <label class="label">Password</label> -->
                    <div class="control has-icons-left">
                    <input v-model="passwordInput" @input="verify" class="input" type="password" placeholder="Password" 
                        @keyup.enter="!showVerifyPassword ? login(): null">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    </div>
                    <p class="help is-danger">{{ errors.passwordlength }}</p>
                </div>

                <div class="field" v-if="showVerifyPassword">
                    <div class="control has-icons-left">
                    <input v-model="passwordConfirmationInput" @input="verify" class="input" type="password" placeholder="Verify Password"
                        @keyup.enter="register">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    </div>
                    <p class="help is-danger">{{ errors.passwordmatch }}</p>
                </div>

                <!-- <p>Input is: {{ usernameInput }}</p> -->
                <!-- <p>password is {{ passwordInput }}</p> -->
                <!-- <p>password conf is {{ passwordConfirmationInput }}</p> -->

                <div class="field">
                    <p class="control">
                    <button id="login-button" @click="login" v-if="showLoginButton" class="button is-success">
                        Login
                    </button>
                    <button id="register-button" @click="register" v-if="showRegisterButton" class="button is-info ml-1" :disabled="disabledButton">
                        Register
                    </button>
                    </p>
                </div>
                <p v-if="showSignUpText" class="control">Don't have an account? <a @click="signUp">Sign Up</a></p>
                <p v-if="showLoginText" class="control">Already have an account? <a @click="loginLayout">Login</a></p>
                <br>

                <!-- Notifications -->
                <div v-if="notifications['registration']" class="notification is-link">
                    <button @click="notifications['registration'] = false" class="delete"></button>
                        Registered successfully. Please login
                </div>
                <div v-if="notifications['invalidUserPassword']" class="notification is-danger">
                    <button @click="notifications['invalidUserPassword'] = false" class="delete"></button>
                    Invalid Username or Password
                </div>
                <div v-if="notifications['loginBadRequest']" class="notification is-danger">
                    <button @click="notifications['loginBadRequest'] = false" class="delete"></button>
                    Bad login request. Please try again later
                </div>
                <div v-if="notifications['loginDatabaseError']" class="notification is-danger">
                    <button @click="notifications['loginDatabaseError'] = false" class="delete"></button>
                    Error querying database. Please try again later
                </div>
                <div v-if="notifications['loginSessionError']" class="notification is-danger">
                    <button @click="notifications['loginSessionError'] = false" class="delete"></button>
                    Error generating session ID. Please try again later
                </div>




            </div>
            <button class="modal-close is-large" aria-label="close" @click="showLoginModal = false; loginLayout()"></button>
        </div>

        <div class="modal" :class="{'is-active': showReportModal}">
            <div class="modal-background" @click="showReportModal = false; showBugNotification = false;"></div>
            <div class="modal-content">
                <!-- Any other Bulma elements you want -->

                <div class="field">
                    <label class="label">Please type your message below!</label>
                    <div class="is-flex is-justify-content-space-between is-align-items-center mt-1">
                        <p class="help has-text-white">A suggestion, bug you found, other comments...</p>
                        <p class="help">{{ bugReportMessage.length }} / 7500</p>
                    </div>
                    <div class="control">
                        <textarea v-model="bugReportMessage" class="textarea" placeholder="" maxlength="7500"></textarea>
                    </div>
                </div>

                <label class="has-text-white">Leave your email if you would like to receive follow up on your bug report or suggestion</label>
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                    <input v-model="bugEmail" class="input" type="email" placeholder="Email" maxlength="100">
                    <span class="icon is-small is-left">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button @click="postBugReport" class="button is-link" id="bugSubmitButton">Submit</button>
                    </div>
                    <div class="control">
                        <button @click="showReportModal = false; showBugNotification = false" class="button is-light">Cancel</button>
                    </div>
                </div>
                <div v-show="showBugNotification" class="notification is-info">
                    <button @click="showBugNotification = false" class="delete"></button>
                    Thank you for your feedback
                </div>

            </div>
            <button class="modal-close is-large" aria-label="close" @click="showReportModal = false"></button>
        </div>



        <!-- --> 

        <div v-if="showLandingPage" class="landing m-6 has-text-centered">
            <p class="has-text-primary is-size-2-mobile is-size-1 has-text-weight-bold">Welcome to Wizard-ASM</p>
            <p class="has-text-weight-bold">The Spell Slinging Programming Battle Game</p>
            <p class="">Sign up below to get started</p>
            <br>
            <img src="/frontend/photos/sudokuwizards.png" width="32%" height="32%">
            <br>
            <br>
            <div class="content has-text-left">
                <div class="column is-half is-offset-one-quarter">
                    <button @click="whoami === '' ? showLogin() : showBattle()" class="button is-large is-fullwidth is-rounded is-primary is-outlined">
                        <span class="icon">
                            <i style="color:red" class="fa-solid fa-fire-flame-curved"></i>
                        </span>
                        <span>Play Now</span>
                        <span class="icon">
                            <i style="color:red" class="fa-solid fa-fire-flame-curved"></i>
                        </span>
                    </button>
                    <br>
                </div>
            </div>
            <p>Game is in pre-alpha</p>
        </div>

        <div v-if="showTutorialPage" class="tutorial m-6 has-text-left">

            <h1 class="title is-2">Tutorial</h1>
            <h1 class="subtitle is-4">Please read below to understand the game</h1>
            <!-- <p class="has-text-primary is-size-2-mobile is-size-1 has-text-weight-bold" style="border-bottom: 3px solid">Tutorial</p> -->
            <div class="content has-text-left">
                <br>

                <h2>Wizard-ASM is meant to get you thinking like a programmer</h2>

                <h4>Plan ahead</h4>
                <p>
                In most games you would control your character in real time, moving out of the way when you see an attack coming at you, or shooting a fireball at your enemy when you
                see them in the open. However, in Wizard-ASM everything is planned before the battle even starts. Every action, every reaction must be considered before the battle
                even starts.
                </p>

                <h4>You must be specific</h4>
                <p>
                This is all determined through the battle program.
                The battle program is the meat of the game. It is a list of instructions that your wizard will follow exactly.
                This is supposed to mirror programming in real life, a programmer writes a program that a computer will execute exactly as its written. 
                You are the programmer and the wizard is the computer. Computers (and wizards) will only do exactly as they're told. You have to be extremely specific if you want
                them to do what you want. If you want your wizard to shoot lightning, you have to tell it which direction. If you want your wizard to teleport, 
                you have to tell it exactly where to teleport to. 
                </p>

                <h4>Don't let your wizard run out of instructions</h4>
                <p>
                You also can't just let the wizard decide what to do if it runs out of instructions. You must ensure that your
                battle program loops in some way (you can learn how in the create tab) so that the wizard will always have an instruction from you to follow. Should the wizard run 
                out of instructions, it will die. This is known as 'PTRDEATH'
                </p>



                <h3>In the next section</h3>
                <p>We will walk through a simple battle program</p>
                <br>
                <h1 style="border-bottom: 3px solid white;">Battle Program Example Step by Step</h1>
                <br>

            <div class="content">
                <div class="columns">
                    <div class="column">
                    <h3>Battle Program in Detail</h3>
                        <p>This simple program to the right will shoot lightning in 4 directions and repeat while keeping the right amount of mana (your mana starts at 100)</p>
                        <p>The text in grey would not be part of an actual battle program</p>
                        <p>All instructions and their arguments are explained in detail in the 'Create' tab</p>
                    </div>
                    <div class="column is-offset-one-quarter has-text-white">
                        <h3 >Example Program</h3>
                        <li>
                            RECHARGE 100 <b style="color: grey">&lt;- Recharge 100 mana to get mana to 200</b>
                        </li>
                        <li>
                            LIGHTNING N <b style="color: grey">&lt;- Shoot lightning north</b>
                        </li>
                        <li>
                            LIGHTNING S <b style="color: grey">&lt;- Shoot lightning south</b>
                        </li>
                        <li>
                            RECHARGE 200 <b style="color: grey">&lt;- Recharge 200 mana</b>
                        </li>
                        <li>
                            LIGHTNING E <b style="color: grey">&lt;- Shoot lightning east</b>
                        </li>
                        <li>
                            LIGHTNING W <b style="color: grey">&lt;- Shoot lightning west</b>
                        </li>
                        <li>
                            RECHARGE 200 <b style="color: grey">&lt;- Recharge 200 mana</b>
                        </li>
                        <li>
                            JUMP -6 <b style="color: grey">&lt;- Jump back up to the 'LIGHTNING N'</b>
                        </li>
                    </div>
                </div>

                <section class="section is-small"></section>

                <h3>The Arena</h3>
                <p>The game takes place in a 16x16 grid where you and your opponent will receive random spawns</p>
                <p>The arena rows and columns start at the top left and end at the bottom right<br>
                You will also notice that rows and columns start at zero, not one. Thats because computers in real life start counting at zero</p>
                <img style="background-color: white;" src="/frontend/photos/wizasmtutorial.png" />

                <h3>TL;DR</h3>
                <ul>
                    <li>Eliminate the enemy before they eliminate you</li>
                    <li>Start at 100 mana</li>
                    <li>Plan all your spells and actions by making a battle program</li>
                    <li>Make sure your battle program loops in some way or you will die from 'PTRDEATH'</li>
                    <li>Manage your mana wisely or you will die from too much or not enough mana</li>
                    <li>The game will end if nobody dies after 2000 turns</li>
                </ul>

            <p><a @click="whoami === '' && showLogin()">Log in or register</a>, then head over to the 'Create' tab to learn about the spells available to you</p>
            </div>

            </div>

            <h3 class="title">Get Started Today!</h3>
            <h3 class="subtitle">Fret not! For your spells are all you need. With them you can summon lava, shoot lightning, teleport, and magically deduce the location of your opponent. Rely on your spells and you will be a victor in The Arena.</h3>
            <br>



        </div>





        <!-- --> 

        <div v-if="showBattlePage" class="battlepage m-6">
            <div class="block">
                <h1 class="title is-3">Create a Battle Program</h1>
                <h1 class="subtitle is-5">After creating your program, head over to the 'Replays' tab to duel another player</h1>
                <textarea @blur="saveTempProgram" class="bptextarea textarea" rows="13" placeholder="magma 0 0"></textarea>
                <div class="buttons mt-1">
                    <button @click="submitProgram" class="button is-primary" id="sbutton" >
                        <span class="icon">
                            <i class="fa-solid fa-upload"></i>
                        </span>
                        <span>
                            Save Program
                        </span>
                    </button>
                    <button @click="getBattleProgram" class="button is-link is-outlined">
                        <span class="icon">
                            <i class="fa-solid fa-download"></i>
                        </span>
                        <span>
                            Load Program
                        </span>
                    </button>
                    <button @click="checkProgram" class="button is-danger">Check Program(Debugging)</button>
                </div>
                <div v-show="notifications['saveProgram']" class="notification is-link">
                    <button @click="notifications['saveProgram'] = false" class="delete"></button>
                        Saved program successfully
                </div>

                <div v-if="notifications['instructionChecker']" class="notification is-danger">
                    <button @click="notifications['instructionChecker'] = false" class="delete"></button>
                    <span v-for="msg in instructionCheckerMessages">
                        <span class="icon">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </span>
                        {{ msg }}<br>
                    </span>
                </div>


                <p class="help">Scroll Down For Instructions</p>
                <br>
                <br>


                <!-- <p class="is-warning help">You start with 100 mana, keep mana usage in mind as not having enough or using too much will result in a loss</p> -->
                <!-- <h1 style="border-bottom: 3px solid white;"></h1> -->
            </div>
                <br>

            <div class="content has-text-left">
            <section class="section is-small"></section>
                    <h1 style="border-bottom: 5px solid white;">Game Instructions In Detail</h1>
                        <h2>Example Template</h2>
                        <p>This is how all following instructions will be structured</p>
                    <div class="box">
                        <h4>Instruction Name [argument 1] [argument 2] ...</h4>
                        <p>The name of the instruction will be listed, followed by a number of arguments that must be provided. Arguments take the form of a number or a single letter (or two). </p>
                        <!-- <p>In the following examples arguments will be denoted in an abbreviated form [arg1] [arg2] ...</p> -->
                        <p style="color: #3087f7">Mana Cost: X</p>
                    </div>

            <section class="section is-small"></section>


                <h2 class="has-text-left">Spells and Actions</h2>
                    <div class="box">
                        <h4>
                            <span class="icon">
                                <i class="fa-solid fa-volcano"></i>
                            </span>
                            <span>
                                Magma [arg1] [arg2]
                            </span>
                        </h4>
                        <p>Summons an explosion of magma in a 3x3 square centered on target location</p>
                        <p class="has-text-white">Arg 1: A number (0-15); The row you want to target</p>
                        <p class="has-text-white">Arg 2: A number (0-15); The column you want to target</p>
                        <p>Alternatively, you can put -1 for both arguments to target a random location</p>
                        <p style="color: #3087f7">Mana Cost: 20</p>
                        <p>Example Usage:<br>MAGMA 1 5</p>
                    </div>
                    <div class="box">
                        <h4>
                            <span class="icon">
                                <i class="fa-solid fa-biohazard"></i>
                            </span>
                            <span>
                                Acid [arg1] [arg2]
                            </span>
                        </h4>
                        <p>Summons a puddle of acid on target location. The puddle stays on the ground indefinitely</p>
                        <p class="has-text-white">Arg 1: A number (0-15); The row you want to target</p>
                        <p class="has-text-white">Arg 2: A number (0-15); The column you want to target</p>
                        <p>Alternatively, you can put -1 for both arguments to target a random location</p>
                        <p style="color: #3087f7">Mana Cost: 10</p>
                        <p>Example Usage:<br>ACID 0 3</p>
                    </div>
                    <div class="box">
                        <h4>
                            <span class="icon">
                                <i class="fa-solid fa-up-down-left-right"></i>
                            </span>
                            <span>
                                Move [arg1]
                            </span>
                        </h4>
                        <p>Move a single tile in the chosen direction</p>
                        <p class="has-text-white">Arg 1: Cardinal directions represented by the following: N  NE  NW  S  SE  SW  E  W</p>
                                <figure class="image is-128x128">
                                    <img src="https://imgs.search.brave.com/K6Tml8Gn4rhD5nQvqnLecXznvTUfHEHVSoLMpYMQyhE/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/Z2VvZ3JhcGh5cmVh/bG0uY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDEzLzA3L2Nv/bXBhc3Mtcm9zcy1j/YXJkaW5hbC1wb2lu/dHMucG5n" />
                                </figure>
                        <p style="color: #3087f7">Mana Cost: 0</p>
                        <p>Example Usage:<br>MOVE NE</p>
                    </div>
                    <div class="box">
                        <h4>
                            <span class="icon">
                                <i class="fa-solid fa-arrows-to-dot"></i>
                            </span>
                            <span>
                                Teleport [arg1] [arg2]
                            </span>
                        </h4>
                        <p>Teleport to target location</p>
                        <p class="has-text-white">Arg 1: A number (0-15); The row you want to target</p>
                        <p class="has-text-white">Arg 2: A number (0-15); The column you want to target</p>
                        <p>Alternatively, you can put -1 for both arguments to teleport to a random location</p>
                        <p style="color: #3087f7">Mana Cost: 100</p>
                        <p>Example Usage:<br>TELEPORT 5 9</p>

                    </div>
                    <div class="box">
                        <h4>
                            <span class="icon">
                                <i class="fa-solid fa-shield-halved"></i>
                            </span>
                            <span>
                                Shield [arg1]
                            </span>
                        </h4>
                        <p>Apply a magical shield to protect from certain damage types</p>
                        <p class="has-text-white">Arg 1: 1 for fire; 2 for lightning; 3 for acid</p>
                        <!-- <p style="color: yellow">NOTE! Not currently implemented/working</p> -->
                        <p style="color: #3087f7">Mana Cost: 10</p>
                        <p>Example Usage:<br>SHIELD 2</p>

                    </div>
                    <div class="box">
                        <h4>
                            <span class="icon">
                                <i class="fa-solid fa-hourglass-start"></i>
                            </span>
                            <span>
                                Wait
                            </span>
                        </h4>
                        <p>Simply wait and do nothing</p>
                        <p style="color: #3087f7">Mana Cost: 0</p>
                        <p>Example Usage:<br>WAIT</p>

                    </div>
                    <div class="box">
                        <h4>
                            <span class="icon">
                                <i class="fa-solid fa-battery-full"></i>
                            </span>
                            <span>
                                Recharge [arg1]
                            </span>
                        </h4>
                        <p>Recharge your mana by the chosen amount</p>
                        <p class="has-text-white">Arg 1: A number (0-200)</p>
                        <p>Running out of mana while trying to cast a spell will result in a loss, however having too much mana will result in a loss due to mana overcharge. Think wisely about how much mana you actually need!</p>
                        <p style="color: #3087f7">Mana Cost: 0</p>
                        <p>Example Usage:<br>RECHARGE 200</p>

                    </div>
                    <div class="box">
                        <h4>
                            <span class="icon">
                                <i class="fa-solid fa-hat-wizard"></i>
                            </span>
                            <span>
                                Divination [arg1]
                            </span>
                        </h4>
                        <p>Hone in on the location of the enemy player</p>
                        <p class="has-text-white">Arg 1: a number (0-5)</p>
                        <p>0 will give an exact location of the enemy, while each subsequent number will give a location with a margin of error equal to that number</p>
                        <p>Divination will save the coordinates (row, column) in your crystal ball, which you can access with the CRYSTAL instruction</p>
                        <!-- <p style="color: yellow">NOTE! Not currently implemented/working</p> -->
                        <p style="color: #3087f7">Mana Cost:<br>200 at level 0<br>190 at level 1<br>180 at level 2<br>...<br> 150 at level 5</p>
                        <p>Example Usage:<br>DIVINATION 0</p>
                    </div>
                    <div class="box">
                        <h4>
                            <span class="icon">
                                <img src="/frontend/photos/crystal-ball-svgrepo-com.svg">
                            </span>
                            <span>
                                Crystal [arg1]
                            </span>
                        </h4>
                        <p>Use on an instruction that takes a row, column coordinates such as MAGMA</p>
                        <p>Crystal will take the numbers saved in your crystal ball and overwrite the arguments of the instruction that arg1 points to</p>
                        <p class="has-text-white">Arg 1: a number pointing to the instruction you want to modify</p>
                        <p style="color: #3087f7">Mana Cost: 0</p>
                        <p>Example Usage:</p>
                        <p>Lets say your crystal ball contains: 5, 8 and you have the following battle program:<br><br>MAGMA 0 0<br>CRYSTAL -1</p>
                        <p>After the CRYSTAL instruction is run, MAGMA will now look like this:<br>MAGMA 5 8</p>
                    </div>
                    <div class="box">
                        <h4>
                            <span class="icon">
                                <i class="fa-solid fa-cloud-bolt"></i>
                            </span>
                            <span>
                                Lightning [arg1]
                            </span>
                        </h4>
                        <p>Shoot lightning in a straight line in the chosen direction</p>
                        <p class="has-text-white">Arg 1: Cardinal directions represented by the following: N  NE  NW  S  SE  SW  E  W</p>
                                <figure class="image is-128x128">
                                    <img src="https://imgs.search.brave.com/K6Tml8Gn4rhD5nQvqnLecXznvTUfHEHVSoLMpYMQyhE/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/Z2VvZ3JhcGh5cmVh/bG0uY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDEzLzA3L2Nv/bXBhc3Mtcm9zcy1j/YXJkaW5hbC1wb2lu/dHMucG5n" />
                                </figure>
                        <p style="color: #3087f7">Mana Cost: 100</p>
                        <p>Example Usage:<br>LIGHTNING NE</p>

                    </div>

                <h2>Logical Instructions</h2>
                <div class="box">
                    <h4>
                        <span class="icon">
                            <i class="fa-solid fa-circle-play"></i>
                        </span>
                        <span>
                            Sloop [arg1]
                        </span>
                    </h4>
                    <p>Start a loop that will run a specified number of times</p>
                    <p class="has-text-white">Arg 1: A number</p>
                    <p style="color: yellow">NOTE! Nested loops using Sloop and Eloop is not currently supported</p>
                    <p style="color: #3087f7">Mana Cost: 0</p>
                        <p>Example Usage:<br>SLOOP 10<br>This will signify the start of a loop that will run 10 times</p>
                </div>
                <div class="box">
                    <h4>
                        <span class="icon">
                            <i class="fa-solid fa-circle-stop"></i>
                        </span>
                        <span>
                            Eloop
                        </span>
                    </h4>
                    <p>Paired with an Sloop instruction. This will specify the end of your loop and will signal the program reader to go back up to your Sloop instruction</p>
                    <p style="color: #3087f7">Mana Cost: 0</p>
                        <p>Example Usage:<br>ELOOP</p>

                </div>
                <div class="box">
                    <h4>
                        <span class="icon">
                            <i class="fa-solid fa-arrows-up-down"></i>
                        </span>
                        <span>
                            Jump [arg1]
                        </span>
                    </h4>
                    <p>This will tell the program reader to go back or forward a specified number of instructions in your program</p>
                    <p class="has-text-white">Arg 1: A number (positive or negative), the amount of instructions you would like to jump forward or backward</p>
                    <p style="color: #3087f7">Mana Cost: 0</p>
                        <p>Example Usage:<br>
                        MAGMA 0 0<br>
                        RECHARGE 20<br>
                        JUMP -2<br><br>
                        `JUMP -2` tells the game to go back up to the MAGMA instruction which is two positions above the JUMP instruction in the battle program
                        </p>
                    <p class="has-text-warning">Jump is essential for a successful battle program. If you run out of instructions the game will try to read a non-existant instruction and you will die.<br>
                    This is know as a PTRDEATH. If you see this in your death messages it means you ran out of instructions to give the game<br>
                    Use jump to ensure the game doesn't run out of instructions to execute from your program
                    </p>
                </div>
                <!-- <div class="box"> -->
                <!--     <h4>CJump</h4> -->
                <!--     <p style="color: yellow">Work in progress</p> -->
                <!--     <p style="color: #3087f7">Mana Cost: 0</p> -->
                <!--         <p>Example Usage:<br></p> -->
                <!-- </div> -->

            <section class="section is-large"></section>
            <section class="section is-large"></section>
            <section class="section is-large"></section>
            <section class="section is-large"></section>
            <section class="section is-large"></section>
            <section class="section is-large"></section>
            <section class="section is-large"></section>
            <section class="section is-large"></section>
            <section class="section is-large"></section>

                <h2>Premium Spells</h2>
                <div class="box">
                    <h4>PowerWordKill&trade;</h4>
                    <p>Instantly kill your opponent</p>
                    <p style="color: #3087f7">Mana Cost: 1</p>
                    <div class="buttons">
                        <button @click="buyPremiumSpell($event, 'pwk')" class="button is-warning" style="color: white;">Buy Now</button>
                        <p class="pwk" style="color: white; margin-left: 10px;">$9.99</p>
                    </div>
                    <div  v-if="premiumSpells['pwk']" class="notification is-success">
                        <button @click="premiumSpells['pwk'] = false" class="delete"></button>
                        Thank you for your purchase. Please use this power responsibly.
                    </div>
                </div>
                <div class="box">
                    <h4>Wish&trade;</h4>
                    <p>Get anything you wish for</p>
                    <p style="color: #3087f7">Mana Cost: 200</p>
                    <div class="buttons">
                        <button @click="buyPremiumSpell($event, 'wish')" class="button is-warning" style="color: white;">Buy Now</button>
                        <p class="wish" style="color: white; margin-left: 10px;">$15.99</p>
                    </div>
                    <div  v-if="premiumSpells['wish']" class="notification is-success">
                        <button @click="premiumSpells['wish'] = false" class="delete"></button>
                        Thank you for your purchase. Please use this power responsibly.
                    </div>
                </div>

            </div>



        </div>

        <div v-if="showReplaysPage" class="replayspage m-6">

            <h1 class="title is-3">Its time to duel</h1>
            <h1 class="subtitle is-5">Duel your friend or a random person</h1>

                <!-- <p>Enter the name of your opponent, hit the 'Duel' button and then 'Start Replay' to see the results</p> -->
                <!-- <p>Duel the user 'bob' if you want an easy opponent for testing your own strategy</p> -->
                <!-- <p>Duel the user 'titan1' to face a more difficult opponent</p> -->

            <br>
            <div class="columns">
                <div class="column">

                    <div class="box" >
                        <div class="is-flex is-justify-content-space-between is-align-items-center mt-1">
                            <p class="has-text-white">Match Replay</p>
                            <p v-if="frameToDisplay" class="is-size-6 has-text-white has-text-right">Turn: {{ frameToDisplay.Count }}</p>
                        </div>
                        <h2><b class="has-text-primary">{{ whoami }}</b> vs <b class="has-text-danger">{{ opp }}</b></h2>

                        <br>

                        <div v-for="(row, rowIndex) in frameToDisplay.ArenaFrame" :key="rowIndex" class="has-text-centered">
                            <span
                                v-for="(cell, cellIndex) in row"
                                :key="cellIndex"
                                :class="getCellClass(cell)"
                                style="display: inline-block; width: 1em;" 
                            >
                                {{ cell }}
                            </span>
                        </div>


                        <br>
                        <div class="has-text-white" id="info">
                            <div>Player: {{ frameToDisplay.PlayerName }}</div>
                            <div>Action: {{ frameToDisplay.Action }} {{ frameToDisplay.Args }}</div>
                            <div style="color: #3087f7">Mana: {{ frameToDisplay.Mana }}</div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button @click="startReplay" class="button is-primary" :disabled="opp==='' || replayRunning">
                            <span class="icon">
                                <i class="fa-solid fa-play"></i>
                            </span>
                            <span>
                                Start
                            </span>
                        </button>
                        <button @click="stopReplay" class="button is-danger" :disabled="!replayRunning">
                            <span class="icon">
                                <i class="fa-solid fa-stop"></i>
                            </span>
                            <span>
                                Stop
                            </span>
                        </button>
                    </div>

                </div>
                <div class="column">
                    <p>Current Opponent: <span v-if="opp !== '' " class="tag is-medium">{{ opp }}</span></p>
                    <br>
                    <label class="label">User To Duel</label>
                    <div class="control has-icons-left">
                        <input v-model="duelUserInput" class="input" type="text" placeholder="bob">
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-hat-wizard"></i>
                        </span>
                    </div>
                    <div class="is-flex is-justify-content-space-between is-align-items-center mt-1 mb-1">
                        <button @click="getDuel" class="button is-link is-outlined" >
                            <span class="icon">
                                <i class="fa-solid fa-wand-sparkles"></i>
                            </span>
                            <span>
                                Duel
                            </span>
                        </button>
                        <button @click="getDuelRandom" class="button is-danger is-outlined">
                            <span class="icon">
                                <i class="fa-solid fa-dice"></i>
                            </span>
                            <span>
                                Random
                            </span>
                        </button>
                    </div>

                    <div v-if="notifications['getDuelPosFeedback']" class="notification is-link">
                        <button @click="notifications['getDuelPosFeedback'] = false" class="delete"></button>
                        <!-- <span class="icon"> -->
                        <!--     <i class="fa-solid fa-triangle-exclamation"></i> -->
                        <!-- </span> -->
                        <span>
                            Duel ran successfully. Press Start to see the match replay
                        </span>
                    </div>

                    <div v-if="notifications['getDuelInvalidUsername']" class="notification is-danger">
                        <button @click="notifications['getDuelInvalidUsername'] = false" class="delete"></button>
                        <span class="icon">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </span>
                        <span>
                            User not found
                        </span>
                    </div>

                    <div v-if="notifications['getDuelNoUsername']" class="notification is-danger">
                        <button @click="notifications['getDuelNoUsername'] = false" class="delete"></button>
                        <span class="icon">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </span>
                        <span>
                            No username provided
                        </span>
                    </div>

                    <div v-if="notifications['getDuelInvalidUsernameWeird']" class="notification is-danger">
                        <button @click="notifications['getDuelInvalidUsernameWeird'] = false" class="delete"></button>
                        <span class="icon">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </span>
                        <span>
                            Error encountered with your username. Please try signing in again
                        </span>
                    </div>

                    <div v-if="notifications['getDuelBp1Empty']" class="notification is-danger">
                        <button @click="notifications['getDuelBp1Empty'] = false" class="delete"></button>
                        <span class="icon">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </span>
                        <span>
                            You have no Battle Program. Please go to the 'Create' tab and make one
                        </span>
                    </div>

                    <div v-if="notifications['getDuelBp2Empty']" class="notification is-danger">
                        <button @click="notifications['getDuelBp2Empty'] = false" class="delete"></button>
                        <span class="icon">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </span>
                        <span>
                            Enemy has no Battle Program. Please tell them to make one in the 'Create' tab
                        </span>
                    </div>

                    <!-- <div class="column is-half is-offset-1"> -->
                    <!-- <p class="help">easy = bob<br>medium = titan1<br>hard = ???</p> -->
                    <br>
                    <br>
                    <div class="section is-small"></div>
                        <label class="label">Duel Information</label>
                        <div class="box">
                            <span style="color:gold;" class="icon">
                                <i class="fa-solid fa-trophy"></i>
                            </span>
                            <span style="color:gold;">
                                Winner: 
                            </span>
                            <span :style="{ color: getPlayerColor(currentReplayInfoDisplay.Winner)}">
                                {{ currentReplayInfoDisplay.Winner }}<br>
                            </span>

                            <span style="color:#CD7F32" class="icon">
                                <i class="fa-solid fa-award"></i>
                            </span>
                            <span style="color:#CD7F32">
                                Loser: 
                            </span>
                            <span :style="{ color: getPlayerColor(currentReplayInfoDisplay.Loser)}">
                                {{ currentReplayInfoDisplay.Loser }}<br>
                            </span>
                            <span class="icon has-text-white">
                                <i class="fa-solid fa-skull-crossbones"></i>
                            </span>
                            <span class="has-text-white">
                                Cause of Death: {{ currentReplayInfoDisplay.DeathMsg }}
                            </span>
                        </div>
                    <!-- </div> -->
                </div>
            </div>

                <br>



            <br>

            <!-- <div v-if="currentReplayInfoDisplay !== {}">{{ currentReplayInfoDisplay.Conclusion }} -->
            <!--     Game ended after {{ currentReplayInfoDisplay.RealCount }} steps</div> -->

            <ul>

                <!-- I can do all of this here, or get all of the information out of the currentReplay -->
                <!-- in a dedicated function and then extract information from that to display here -->
                    <div class="section is-large" style="background-image: url('/frontend/photos/wizard_duel.png'); 
                        background-size: cover; background-position: center 20%; background-repeat: no-repeat; border-radius: 1rem;">
                        <!-- <img height="50px" width="100%" src="/frontend/photos/wizard_duel.png"> -->
                        <h1 class="title is-1">Step by Step History</h1>
                    </div>
                <br>
                <div class="box" v-for="frame in currentReplay?.Frames?.slice(1) || []">
                    <div class="is-flex is-justify-content-space-between is-align-items-center mt-1">
                        <div>
                            <span class="has-text-white">
                                Player: 
                            </span>
                            <span :style="{ color: getPlayerColor(frame.PlayerName) }">
                                {{ frame.PlayerName }}
                            </span>

                        </div>
                        <span class="has-text-white">
                            Turn: {{ frame.Count }}
                        </span>
                    </div>

                    <div class="has-text-white">
                        Action: {{ frame.Action }} {{ frame.Args ? frame.Args.join(" ") : "" }}<br>
                        Mana:
                        <span style="color: #3087f7;">
                             {{ frame.Mana }}
                        </span>
                    </div>

                </div>

            </ul>

            <!-- <canvas v-show="true" id="myCanvas" width="610" height="610" style="border:1px solid black;"> -->
            <!-- </canvas> -->
        </div>






    </div>
        <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.js"></script>
        <script src="/frontend/vueapp.js"></script>
    </body>
</html>

