/* html, body { */
/*     margin-left: 50px; */
/*     padding: 50px; */
/*     margin-left: 1em; */
/*     background-color: ghostwhite; */
/* } */

p {
    color: #32CD32;
}

textarea {
    font-weight: bold;
    text-transform: uppercase;
}

ul {
    text-align: left;
    color: white;
}

li {
    text-align: left;
    list-style: none;
}

.listy {
    text-align: left;
}

/* .navbar { */
/*     background-color: white; */
/* } */
