/* html, body { */
/*     /1* margin-left: 50px; *1/ */
/*     /1* padding: 50px; *1/ */
/*     margin-left: 1em; */
/* } */

p {
    color: limegreen;
}

textarea {
    font-weight: bold;
    text-transform: uppercase;
}

/* .navbar { */
/*     background-color: white; */
/* } */
