/* html, body { */
/*     /1* margin-left: 50px; *1/ */
/*     /1* padding: 50px; *1/ */
/*     /1* margin-left: 1em; *1/ */
/*     /1* background-color: #2C2C2C; *1/ */
/* } */

p {
    color: #68cef9;
    font-size: large;
}



.bptextarea {
    font-weight: bold;
    text-transform: uppercase;
}

ul {
    text-align: left;
    color: white;
}

li {
    text-align: left;
    list-style: none;
}

.listy {
    text-align: left;
}


/* .navbar { */
/*     background-color: white; */
/* } */
